@model V5.Portal.Backstage.Models.User.UserMessageSmsModel
@Html.ValidationSummary(true)

@Html.HiddenFor(model => model.ID)

<div class="editor-label">
    名称：
</div>
<div class="editor-field">
    @Html.TextBoxFor(model => model.Name,new{@style="width:200px",@class="k-textbox"})
    @Html.ValidationMessageFor(model => model.Name)
</div>

<div class="editor-label">
    内容：
</div>
<div class="editor-field">
    @Html.TextAreaFor(model => model.Content,new{@style="width: 200px;height: 60px",@class="k-textbox"})
    @Html.ValidationMessageFor(model => model.Name)
</div>

<div class="editor-label">
    状态：
</div>
<div class="editor-field">
    @(Html.Kendo().DropDownListFor(model => model.Status).DataSource(ds => ds.Read("QueryStatus", "User")).DataTextField("Text").DataValueField("Value"))
</div>