@{
    ViewBag.Title = "修改密码";
}

@Styles.Render("~/Content/user.css")    
@Scripts.Render("~/Scripts/jquery-1.7.1.js")
@Scripts.Render("~/Scripts/AjaxOverride.js")
@Scripts.Render("~/Scripts/Login/Barrett.js")
@Scripts.Render("~/Scripts/Login/BigInt.js")
@Scripts.Render("~/Scripts/Login/jQuery.md5.js")
@Scripts.Render("~/Scripts/Login/RSA.js")
@Scripts.Render("~/Scripts/Login/password.js")
<style type="text/css">
    .uc_pwd {color:#555; padding-bottom:36px !important;}
    .uc_pwd dt{border-bottom:3px solid #ff5f3e; line-height:36px; font-size:16px; text-indent:12px; margin-bottom:60px;}  
    .uc_pwd dd{height:36px; width:260px; margin:0px auto;}
    .uc_pwd .uc_pwd_item label{width:64px; text-align:right; display:inline-block;}
    .uc_pwd .uc_pwd_item .txt
    {
        width: 186px!important;
        height: 18px!important;
        border: 0;
        border-radius: 3px;
        padding: 3px 2px 4px 6px;
        color: #606566;
        font-size: 12px;
        background-color: #f0f0f0;
        display: inline-block;
    }
</style>
<div class="uc_container">
    <div class="uc">
    @Html.Partial("UserMenu")
    <div class="uc_right">
        <dl class="uc_right_item uc_pwd">
            <form id="pwdForm" method="post" onsubmit="return false;">
                <input type="hidden" id="pke" value="@ViewBag.PublicKeyExponent"/>
                <input type="hidden" id="pkm" value="@ViewBag.PublicKeyModulus" />
                <dt class="uc_pwd_top">修改密码</dt>
                <dd class="uc_pwd_item"><label>原始密码：</label><input type="password" class="txt" id="oldpwd" name="op"/></dd>
                <dd class="uc_pwd_item"><label>新密码：</label><input type="password" class="txt"  id="newpwd" name="np"/></dd>
                <dd class="uc_pwd_item"><label>重复密码：</label><input type="password" class="txt" id="rnewpwd"/></dd>
                <dd style="text-align:right;"><a href="###" class="button" id="pwdsubmit">保存并提交</a></dd>
            </form>
        </dl>
    </div>
    <div class="clear"></div>
</div>
</div>