<div class="footer">
    <div class="foot_up w1200">
        <div class="phone">
            10000平方米仓储体验店<br />
            上海松江区茂盛路202弄18号<br />
            客服邮箱：KF@goujiuwang.com</div>
        <div class="help">
            <dl>
                <dt>新手指南</dt>
                <dd>
                    <a href="/Home/Help/6.html">用户协议</a></dd>
                <dd>
                    <a href="/Home/Help/7.html">常见问题</a></dd>
                <dd>
                    <a href="/Home/Help/8.html">网站购物流程</a></dd>
                <dd>
                    <a href="/Home/Help/9.html">会员制度</a></dd>
                <dd>
                    <a href="/Home/Help/10.html">VIP客户与合作</a></dd>
            </dl>
            <dl>
                <dt>如何付款</dt>
                <dd>
                    <a href="/Home/Help/11.html">如何付款</a></dd>
                <dd>
                    <a href="/Home/Help/12.html">发票制度说明</a></dd>
                <dd>
                    <a href="/Home/Help/13.html">电子券说明</a></dd>
                <dd>
                    <a href="/Home/Help/14.html">虚拟账户支付</a></dd>
                <dd>
                    <a href="/Home/Help/15.html">商品优惠代码说明</a></dd>
            </dl>
            <dl>
                <dt>配送方式</dt>
                <dd>
                    <a href="/Home/Help/20.html">配送收费标准</a></dd>
                <dd>
                    <a href="/Home/Help/19.html">配送时间</a></dd>
                <dd>
                    <a href="/Home/Help/21.html">货到付款支持城市</a></dd>
            </dl>
            <dl>
                <dt>售后服务</dt>
                <dd>
                    <a href="/Home/Help/16.html">如何办理退换货</a></dd>
                <dd>
                    <a href="/Home/Help/17.html">如何退款</a></dd>
                <dd>
                    <a href="/Home/Help/18.html">联系客服</a></dd>
            </dl>
            <dl>
                <dt>关于我们</dt>
                <dd>
                    <a href="/Home/Help/22.html">了解购酒网</a></dd>
                <dd>
                    <a href="/Home/Help/23.html">招兵买马</a></dd>
                <dd>
                    <a href="/Home/Help/24.html">联系我们</a></dd>
                <dd>
                    <a href="/Home/Help/25.html">隐私声明</a></dd>
                <dd>
                    <a href="/Home/Help/26.html">友情链接</a></dd>
            </dl>
        </div>
        <div class="clear">
        </div>
        <div class="guarantee">
            <span>
                <img class="lazy" data-original="@Url.Content("~/images/foot-zhibao1.jpg")" alt="" /></span>
            <span>
                <img class="lazy" data-original="@Url.Content("~/images/foot-zhibao2.jpg")" alt="" /></span>
            <span>
                <img class="lazy" data-original="@Url.Content("~/images/foot-zhibao3.jpg")" alt="" /></span>
            <span>
                <img class="lazy" data-original="@Url.Content("~/images/foot-zhibao4.jpg")" alt="" /></span>
            <span>
                <img class="lazy" data-original="@Url.Content("~/images/foot-zhibao5.jpg")" alt="" /></span>
        </div>
    </div>
    <div class="foot_down w1200">
        <p class="copy">
            Copyright? 2009-2013 gjw.com, All Rights Reserved 上海购酒网电子商务有限公司 版权所有
            <script src="http://js.users.51.la/16826658.js" type="text/javascript" language="javascript"></script>
        </p>
        <div class="authentication">
            <a class="beian" href="http://www.miibeian.gov.cn"></a><a class="depart" href="http://www.sgs.gov.cn/lz/licenseLink.do?method=licenceView&amp;entyId=20120216155829987"
                rel="nofollow"></a>
        </div>
    </div>
</div>
